.seperator {
  display: block; }
  .seperator__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center; }
    .seperator__main::before, .seperator__main::after {
      content: "";
      display: inline-block;
      height: 1px;
      width: 90%;
      background-color: #6b6c6e;
      margin: .5rem 1rem; }

.profile-img {
  display: inline-block; }
  .profile-img img {
    height: 3.5rem;
    border-radius: 50%; }
