.seperator{
    display: block;
    &__main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        &::before,
        &::after{
            content: "";
            display: inline-block;
            height: 1px;
            width: 90%;
            background-color: #6b6c6e;
            margin: .5rem 1rem;
        }
    
    }
}

.profile-img{
    display: inline-block;
    img{
        height: 3.5rem;
        border-radius: 50%;
    }
}
